@model IEnumerable<ThietKeNoiThat.Models.PRODUCT>


@foreach (var item in Model)
{
   
        <div class="owl-item cloned" style="width: 300.267px; margin-right: 10px;">

            <div class="hero-carousel__slide">
               
                    <img src="~/Content/img/product/@item.IMGPath" alt="" class="img-fluid">
                

                <a href="#" class="hero-carousel__slideOverlay">
                    <h3>@item.Name</h3>
                    <p>Accessories Item</p>
                </a>
            </div>

        </div>
   
}

@*@foreach (var i in Model)
    {
        <div class="owl-item active" style="width: 300.267px; margin-right: 10px;">
            <div class="hero-carousel__slide">
                <img src="~/Content/img/product/@i.IMGPATH" alt="" class="img-fluid">

                <a href="#" class="hero-carousel__slideOverlay">
                    <h3>@i.NAME</h3>
                    <p>Accessories Item</p>
                </a>
            </div>
        </div>
    }*@

