
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="margin-top-0">
    <div id="content">
        <h1 class="title-section-page hidden">Liên hệ với chúng tôi</h1> <div id="avia-google-map-nr-1" class="avia-google-maps avia-google-maps-section main_color avia-builder-el-0 el_before_av_one_half avia-builder-el-first container_wrap fullsize">
            <div class="av_gmaps_sc_main_wrap av_gmaps_main_wrap">
                <div id="contact_map" class="map" ">
                    <style>
                        .container_iframe_google_map iframe {
                            width: 100% !important;
                            height: 500px !important;
                        }
                    </style> <div class="container_iframe_google_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5487614861495!2d106.61132831472673!3d10.845802992274457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a30e2f1dae1%3A0x473244c1533cbe83!2zQuG6v24geGUgQW4gU8awxqFuZw!5e0!3m2!1svi!2s!4v1592028973751!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="after_full_slider_1" class="main_color av_default_container_wrap container_wrap fullsize">
            <div class="container">
                <div class="row">
                    <div class="template-page content av-content-full alpha units">
                        <div class="post-entry post-entry-type-page post-entry-93">
                            <div class="entry-content-wrapper clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-30" style="float:left">
                                    <div class="page_cotact">
                                        <h2 class="title-head-contact a-left">
                                            <span>Địa chỉ của chúng tôi</span>
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <div class="intro">
                                            <span>
                                                <strong>Văn Phòng Thiết Kế Nội Nhất CASANOVA</strong>
                                            </span>
                                        </div>
                                        <div class="item_contact">
                                            <div class="body_contact">
                                                <span class="contact_info">
                                                    <span>
                                                        <strong>Địa chỉ: </strong> 118/36,p.TCH18,quận 12,tp HCM
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="body_contact item_2_contact">
                                                <span class="contact_info">
                                                    <strong>Điện thoại:</strong>
                                                    <a href="tel:0896995749">0896995749</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-30" style="float:left">
                                    <div class="page-login page_cotact">
                                        <h2 class="title-head-contact a-left">
                                            <span>Thông tin liên hệ</span>
                                        </h2>
                                        <div id="pagelogin">
                                            <form action="https://polo.exdomain.net/lien-he" method="post" enctype="multipart/form-data" class="" id="contact">
                                                <div class="form-signup clearfix">
                                                    <div class="row group_contact">
                                                        <fieldset class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <input type="text" name="name" value="" id="name" class="form-control form-control-lg" required="" placeholder="Tên của bạn">
                                                        </fieldset>
                                                        <fieldset class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <input type="text" name="email" value="" class="form-control form-control-lg" placeholder="Địa chỉ Email" id="email" pattern="[a-z0-9._%+-]+.[a-z0-9.-]+\.[a-z]{2,63}$" data-validation="email" required="">
                                                        </fieldset>
                                                        <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <textarea name="enquiry" rows="5" id="comment" placeholder="Nội dung" class="form-control content-area form-control-lg" required=""></textarea>
                                                        </fieldset>
                                                        <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> </fieldset>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                                            <button type="submit" class="btn btn-primary">Gửi đi</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
