
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4"> Mặt Hàng</h1>
    <div class="card mb-4">
        <div class="card-header"> Details Cart</div>
        <div class="card-body">
            <div class="table-responsive"></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Thành Tiền</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Ghế Ăn Oble</td>
                    <td>2</td>
                    <td>22000000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ghế Ăn Oble</td>
                    <td>1</td>
                    <td>12000000</td>
                </tr>
                <tr>
                    <td colspan="4"> Tồng Tiền: 36000000</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


