
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4"> Đơn Đặt Hàng</h1>
    <div class="card mb-4">
        <div class="card-header"> Details Cart</div>
        <div class="card-body">
            <div class="table-responsive"></div>
        </div>
        <table>
            <thead>
                <tr><th>Mã Hóa Đơn</th>
                <th>Khách Hàng</th>
                <th>Ngày Đặt</th>
                <th>Ngày Giao</th>
                <th>Tình Trạng Giao Hàng</th>
                <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Nguyễn Bảo Duy</td>
                    <td>6/16/2020 11:30:00 AM</td>

                    <td>6/26/2020 11:30:00 AM</td>
                    <td>False</td>
                    <td><a href=""> Details</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nguyễn Văn B</td>
                    <td>6/11/2020 11:30:00 AM</td>

                    <td>6/21/2020 11:30:00 AM</td>
                    <td>False</td>
                    <td><a href=""> Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

